
/* CONTENT hut bui */
#slider{
    width:100%;
}
#slider #image{
    width: 100%;
    height: 500px;
    object-fit:cover;
    /* margin-left: 1%;
    margin-top: 1%;
    margin-right: 1%; */
}

#content-hut-bui{
    width: 100%;
    max-width: 1150px;
    margin: auto;
}

#content-hut-bui .box{
    width: 100%;
    margin: 50px 0;
}

#content-hut-bui .product{
    padding: 1%;
    min-height: 650px;
    margin-left: 5%;
    position: relative;
}

#content-hut-bui .product .hinh img{
    width: 90%;
    margin-left: 5%;
}
#content-hut-bui .product .ten-san-pham{
    position: absolute;
    top: 40%;
    left: 10%;

}
#content-hut-bui .product .ten-san-pham a{
    font-size: 24px;
    color: black;
    opacity: 0.8;
}

#content-hut-bui .product .ten-san-pham:hover a{
    color: coral;
    transition: 0.5s;
}

#content-hut-bui .product .gioi-thieu{
    width: 80%;
    position: absolute;
    bottom: 30%;
    left: 15%;
    min-height: 29%;
}
#content-hut-bui .product .gioi-thieu ul{
    list-style-type:disc !important;
}
#content-hut-bui .product .gioi-thieu li{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 3px;
}

#content-hut-bui .product .gia-san-pham{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2%;
    position: absolute;
    bottom: 14%;
    left: 20%;
}
#content-hut-bui .product .gia-san-pham p b{
    opacity: 0.8;
    font-size: 12px;
}

#content-hut-bui .product .button {
    width: 80%;
    margin: 4% 0 0 9%;
    padding: 14px 40px;   
    background-color: rgb(236, 29, 36);
    border-radius: 25px;
    text-align: center;
    position: absolute;
    bottom: 3%;
    right: 11%;
}
#content-hut-bui .product .button a{
    color: white;
}