:root{
  --white-color : #fff;
  --green-color : #b8c7d3;
  --text-color : #1E90FF;
  --primary-color: #ee4d2d;
  --border-color : #dbdbdb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
  padding: 50px;
  background-color: rgb(86, 72, 72);
  font: 14px Arial;
  color: #ccc;
}

ul {
  list-style-type: none;
}
.header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 80px;
  border-top: 2px solid floralwhite ;
}
.header-logo, .website-heading p{
  font-size: 40px;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  margin-top: -50px;
  color: var(--green-color);
  height: 80px;
  border-right: 2px solid floralwhite;
}
.website-heading p{
  margin-top: -50px;
  width: 390px;
  position: absolute;
  
}
.header-link_ul{
  display: flex;
  font-size: 20px;
  margin-top: -42px;

}
.header-link_ul li a{
  color: var(--green-color);
  padding: 5px;
  text-decoration: none;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  text-align: center;
  display: block;
  min-width: 50px;
}
.header-link_a:hover{
  border: 2px solid var(--text-color);
}
.header-link_a{
  margin-right: 15px;
  display: block;
  /* border: 2px solid var(--primary-color); */

}
/*  thông tin thành viên */
.info-members{
  width: 90%;
  height: 430px;
  margin-left: 5%;
  /* border: 1px solid red; */
}
.img-the img, .img-huan img{
  width: 300px;
  height: 300px;
  border: 3px solid var(--white-color);
  border-radius: 50%;
}
.img-member{
  display: flex;
  justify-content: space-around;
}
.img-the a, .img-huan a{
  font-size: 30px;
  color: var(--green-color);
  text-decoration: none;
  line-height: 70px;
}
/* .img-the p, .img-huan p{
  position: absolute;
  color: var(--green-color);
  margin-left: -30px;
  margin-top: -10px;
  text-align: center;
  font-style: italic;
} */
.img-the img:hover, .img-huan img:hover{
  border: 3px solid var(--green-color);
}
.website-border{
  border-bottom: 2px solid floralwhite;
  margin-top: 100px;
}

/* Giới thiệu trang web */
.first-word{
  width: 100%;
  height: 900px;
}
.first-word_form{
  width: 49%;
  height: 800px;
  color: var(--green-color);
  float: left;

}
.first-word_img{
  width: 49%;
  height: 700px;
  float: left;
}
.first-word_img .img-left{
  width: 100%;
  height: auto;
  margin-top: 120px;
  margin-left: 30px;
  box-shadow: 0 0 10px 1px var(--green-color);
}
.first-word_img .img-iuh{
  width: 90%;
  height: auto;
  margin-top: 140px;
  max-height: 600px;

}
.first-word_heading{
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin-top: 100px;
  color: var(--green-color);
}
.first-word_text{
  font-size: 18px;
  text-align: center;
  margin-left: 0px;
  font-style: italic;
  line-height: 30px;
}
.text-color-fix{
  color: var(--green-color);
  margin-left: 30px;
}
.img-iuh-fix{
  width: 50%;
}
.first-word-edit{
  margin-top: -300px;
  position: absolute;
}
/* Khoảng trống */
.first-word-space{
  height: 500px;
}
#file-report{
  height: 350px;
}
.report-heading{
  font-size: 40px;
  font-weight: bolder;
  margin-top: 0px;
  width: 320px;
  line-height: 100px;
  color: var(--green-color);
  border-right: 2px solid floralwhite;
}
.website-border{
  margin-top: 90px;
}
.website-border2{
  position: absolute;
  border-bottom: 2px solid floralwhite;
  width: 95%;
  margin-top: -30px;
}
.btn-file{
  font-size: 40px;
  border: 2px solid var(--primary-color);
  max-width: 400px;
  margin: auto;
  margin-top: 90px;
  text-align: center;
}
.btn-file p a{
  text-decoration: none;
  color: #fff;
}
.btn-file:hover{
  border: 2px solid var(--text-color);
}
.copyright-border{
  width: 150px;
}
.footer{
  display: flex;
  margin-left: 20%;
}
.footer a{
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding-left: 30px;
  color: var(--text-color);
}
.copyright> p{
  font-size: 24px;
  text-align: center;
  padding-top: 50px;
    color: var(--text-color);

}
.website-border2{

}
.social{
  display: flex;
  font-size: 20px;
  margin-left: 40%;
  margin-top: 50px;
  color: #fff;
}
.social li{
  margin-left: 30px;
}
.social li i{
  color: var(--text-color);
}